/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







body {
    font-family: 'Droid Serif', serif;
}
#logo {
    
}
h1 {
    font-size: 48px;
    color: white;
}
h3 {
    font-size: 24px;
    margin: 0 0 10px;
}
h4 {
    margin: 0 0 10px;
}
h5 {
    margin: 0 0 10px;
}
h6 {
    margin: 0 0 10px;
}
p {
    margin: 0 0 10px;
}
blockquote {
    margin: 0 0 10px;
}
a {
    text-decoration: none;
}









nav {
    background: #FFFFFF;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    width: 100%;
    text-align: center;
}
nav img,
nav h1 {
    position: absolute;
    top: 0;
    left: 0;
}
nav img {
    height: 75px;
    width: 75px;
    margin-left: 10px;
}
nav h1 {
    color: #0B9ADB;
    display: inline-block;
    margin-top: 15px;
    left: 90px;
}
nav a {
    text-decoration: none;
}
nav ul {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
nav li {
    margin-top: 10px;
    display: inline-block;
}
nav li a {
    display: block;
    color: #0B9ADB;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
nav a:hover {
    border-bottom: 2px solid orange;
}
nav .signup,
nav .signin {
    color: #0B9ADB;
    position: absolute;
    margin: 20px 16px 0;
    top: 0;
    right: 0;
}
nav .signup {
    right: 150px;
}
nav .signin {
    right: 40px;
}








header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
header video{
    width:100%;
}
header .headercontainer{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .headercontainer .headercontent{
    width: 100%;
}
header .headercontainer .headercontent.lawyers{
    display: none;
}
header .headercontainer .headercontent .switch a {
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
}
header .headercontainer .headercontent .switch a.active {
    border-bottom: 2px solid orange;
}
header h1 {
    text-align: left;
    margin-left: 30vh;
}
form {
    margin-left: 30vh;
}
form h3 {
    color: white;
}
input[type="text"] {
    background: white;
    width: 40%;
    line-height: 2;
    border-bottom-color: 
}
input[type="submit"] {
    height: 30px;
    width: 70px;
    background: red;
}
input[name="location"] {
    width: 25%;
}







section {
    background: white;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    overflow: auto;
}










section.whoweare {
    margin-top: 150px;
    height: 500px;
    width: 100%;
}
section.whoweare div.understand {
    text-align: center;
}
div.understand h3.underline {
    border-bottom: 2px solid orange;
    padding-bottom: 20px;
    width: 55%;
    margin: auto;
    font-size: 35px;
}
section.whoweare div.learningtopics,
section.whoweare div.lawyerstohelp {
    text-align: center;
    display: inline-block;
    width: 49%;
    margin-top: 30px;
    line-height: 30px;
}







section.grid {
    text-align: center;
    max-width: 1500px;
}
section.grid div.grid-item {
    width: 20%; /*fix padding*/
    margin: 0%;
    height: 175px;
    background: white;
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #A7A8AB;
    box-sizing: border-box;
}
.grid-item p {
    padding-left: 25px;
    padding-right: 25px;
    line-height: 20px;
    color: #A7A8AB;
}
.grid-item h3 {
    margin-top: 5px;
}
.grid-item img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
section.grid .grid-item:hover {
    border: 2px solid orange;
}






section.practicegrid {
    height: 900px;
    margin-top: 100px;
    text-align: center;
}
section.practicegrid div.practice-grid-item {
    width: 33.3333%;
    margin: 0%;
    height: 300px;
    background: white;
    display: block;
    float: left;
    vertical-align: top;
    box-sizing: border-box;
}
.practice-grid-item h3 {
    margin-top: 125px;
    color: white;
    font-size: 35px;
}
section.practicegrid div.practice-grid-item {
    background-size: cover;
}
section.practicegrid div.practice-grid-item:nth-child(1) {
    background-image: url('../img/PracticeArea/Family.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(2) {
    background-image: url('../img/PracticeArea/Immigration.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(3) {
    background-image: url('../img/PracticeArea/business.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(4) {
    background-image: url('../img/PracticeArea/Civil.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(5) {
    background-image: url('../img/PracticeArea/Labor & Employment.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(6) {
    background-image: url('../img/PracticeArea/Realestate.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(7) {
    background-image: url('../img/PracticeArea/Criminal Defense.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(8) {
    background-image: url('../img/PracticeArea/Emergency.jpg');
}
section.practicegrid div.practice-grid-item:nth-child(9) {
    background-image: url('../img/PracticeArea/debt.jpg');
}
section.practicegrid .practice-grid-item:hover {
    border: 2px solid orange;
}







section.legalcontainer-titlebar {
    height: 75px;
    margin-top: 100px;
    max-width: 1500px;
}
section.legalcontainer-titlebar div.legalcontainer-title {
    width: 25%;
    margin: 0%;
    height: 75px;
    background: white;
    display: block;
    float: left;
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-color: #A7A8AB;
    box-sizing: border-box;
}
.legalcontainer-title h4 {
    color: #A7A8AB;
    text-align: center;
    margin-top: 30px;
}
section.legalcontainer-sections {
    height: 750px;
    max-width: 1500px;
    margin-top: 0px;
    background: white;
    font-size: 14px;
    color: #A7A8AB;
    border-style: solid;
    border-width: 1px;
    border-color: #A7A8AB;
}
div.practice-area {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    columns: 5;
    column-width: 275px;
}
div.topics-area {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    columns: 5;
    column-width: 275px;
}
div.countries {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    columns: 6;
    column-width: 225px;
}
div.alignName {
    margin-left: 50px;
}
div.names h5 {
    float: left;
    margin-top: 40px;
    letter-spacing: 25px;
}
section .legalcontainer-titlebar .legalcontainer-title .legalcontent .switchcontent a {
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
}
header .legalcontainer-titlebar .legalcontainer-title .legalcontent .switchcontent a.active {
    border-bottom: 2px solid orange;
}



article {
    background: orange;
    width: 75%;
    float: left;
    display: block;
}

article img {
    width: 100%;
    height: auto;
}







footer {
    margin-top: 100px;
    height: 175px;
    width: 100%;
    background: #0B9ADB;
    float: left;
    clear: both;
    text-align: center;
}
footer ul {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
footer li {
    margin-top: 10px;
    display: inline-block;
}
footer li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
footer a:hover {
    border-bottom: 2px solid orange;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
